* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #feece0;
  overflow: hidden;
  font-family: "souce-serif-pro", serif;
}

.top {
  display: flex;
  align-items: center;
  gap: 56px;
  justify-content: center;
  margin: 112px 184px 56px;
}

picture img {
  width: 409px;
  height: 293px;
}

.top h1 {
  font-size: 72px;
  color: #58190a;
}

.top p {
  font-size: 38px;
  color: #58190a;
}

.info p {
  margin: 30px 0px;
}

.buttons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.buttons span,
.buttons p {
  color: #9b6647;
  font-size: 35px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.bottom {
  background-color: #9b6647;
  display: flex;
  height: 100vh;
  justify-content: center;
  gap: 64px;
  padding: 64px 50px;
  color: #feece0;
}

ul,
ol {
  padding-left: 100px;
}

li {
  font-size: 28px;
  font-family: "souce-sans-pro", serif;
}

.col1 > div,
.col2 > div {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 35px;
}

.col1 h1,
.col2 h1 {
  font-size: 38px;
}
